@use '../custom' as *;
@use '../components/mixins' as *;

// ====================
// SHINING BUTTON
// ====================
.shining-btn {
    padding: 0.5rem;
    color: $primary;
    font-size: 1rem;
    font-weight: 500;
    background: $white-transparent-0015;
    border-radius: 40px;
    border: 2px solid $primary;
    outline: none;
    cursor: pointer;
    letter-spacing: 0.1em;
    transition: 1s;
    overflow: hidden;

    &:hover {
        background: $primary;
        box-shadow: 0 0 25px $primary, 0 0 100px $primary, 0 0 150px $primary;
    }

    span {
        position: relative;
        display: inline-block;
        transition: transform 0.5s;
        text-shadow: 0 35px $white;
        transform: translateY(0px);
    }

    &:hover span.hover {
        transform: translateY(-35px);
    }

    span.hover {
        transform: translateY(-35px);
    }
}

// ====================
// ROUNDED BUTTON
// ====================
.btn-rounded {
    position: relative;
    padding: 0.8375rem 4.375rem 0.8375rem 1.25rem;
    font-weight: 700;
    margin: 0;
    border: 0.1rem solid rgba($ivory, 0.6);
    background-color: $ivory;
    color: $secondary;
    display: block;

    span {
        position: absolute;
        background-color: $primary;
        width: 2.5rem;
        height: 2.5rem;
        top: 50%;
        right: 5px;
        transform: translateY(-50%);
        border-radius: 50%;

        i {
            color: $ivory;
            font-size: 1rem;
            line-height: 2.5rem;

            &::before{
                line-height: 2.5rem;
            }
        }
    }

    &:hover {
        @include gradient;
        color: $success;

        span {
            background-color: $black-transparent-06;
        }
    }
}

// ====================
// DISABLED BUTTON
// ====================
.disabled-button {
    cursor: not-allowed;
    opacity: 0.6;
}