// This file contains styling for the authorization pages

// Importing custom variables
@use '../custom' as *;

// AUTH PAGE BACKGROUNDS
.register {
    min-height: 100vh;
    background: url('/static/img/register_background2.png') center / cover no-repeat;
}

.login {
    min-height: 100vh;
    background: url('/static/img/cooking_cat.png') center / cover no-repeat;
}

.forgot-password {
    min-height: 100vh;
    background: url('/static/img/register_background.png') center / cover no-repeat;
}

.reset-password {
    min-height: 100vh;
    background: url('/static/img/register_background.png') center / cover no-repeat;
}

// SHARED AUTH FORM STYLE
.auth-form {
    flex-wrap: wrap;
    background: $white-transparent-0015;
    backdrop-filter: blur(30px);
    box-shadow: 0 5px 25px $black-transparent-03;
    border-radius: 15px;

    form {
        width: 90%; 

        h2 {
            letter-spacing: 1px;
            font-family: 'Poppins', sans-serif;
        }
        
    // INPUT GROUP STYLING
        .input-group {
            position: relative;
            margin: 2rem auto 0;
            max-width: 100%;

            input {
                position: relative;
                width: 100%;
                padding: 0.4rem 0;
                font-size: 1rem;
                color: $white;
                font-weight: 500;
                background: transparent;
                border: none;
                outline: none;
                border-bottom: 2px solid $white;
            }

            label {
                position: absolute;
                top: 0;
                left: 0;
                color: $white;
                pointer-events: none;
                transition: all 0.5s ease;
            }

            // floating label behavior
            input:focus ~ label,
            input:valid ~ label,
            input:not(:placeholder-shown) ~ label {
                top: -1.5rem;
                font-size: 0.9rem;
                color: $gray-300;
            }

            // toggle password button
            .toggleBtn {
                position: absolute;
                top: 0.5rem;
                right: 0.5rem;
                width: 1.5rem;
                height: 1.5rem;
                background: transparent;
                border-radius: 50%;
                cursor: pointer;
                display: flex;
                justify-content: center;
                align-items: center;

                &::before {
                    font-family: 'Material Symbols Outlined';
                    content: "\e8f4";
                    color: $white;
                }

                &.showing::before {
                    content: "\e8f5";
                }

                &.hidden {
                    visibility: hidden;
                }
            }
        }
    // CHECKBOX SECTION
        .check label {
            margin: 1.5rem 0;
            font-size: 0.9rem;

            input {
                position: absolute;
                appearance: none;
                left: 0;

                &::before {
                    content: '';
                    position: absolute;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 1.2rem;
                    height: 1.2rem;
                    border-radius: 4px;
                    background: $white-transparent-015;
                    color: $golden-orange;
                    top: 50%;
                    transform: translateY(-50%);
                }

                &:checked::before {
                    font-family: 'Material Symbols Outlined';
                    content: "\e91d";
                    font-size: 1rem;
                    background-color: $white-transparent-015;
                }
            }

            span {
                padding-left: 0.5rem;

                a {
                    color: $white;
                    text-decoration: none;

                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }

        // SIGN-IN LINK
        .signin, .forgot-password-link {
            margin-top: 1.5rem;
            text-align: center;

            p {
                font-size: 0.9rem;
                color: $white;
                
                a {
                    color: $white;
                    text-decoration: none;
                    font-weight: 700;


                    &:hover {
                        text-decoration: underline;
                        opacity: 0.8;
                    }
                }
            }
        }
    }
}

// FEEDBACK MESSAGE
.feedback{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 0.8rem;
}

// Confirmation modal styling
.modal.fade.show{
    display: flex !important;
    justify-content: center;
    align-items: center;
}