// Importing custom variables
@use '../custom' as *;
@use '../components/typography' as *;
@use '../components/mixins' as *;

// ====================
// ADD NEW RECIPE PAGE
// ====================
.add-recipe{
    margin-top: 80px;
    min-height: calc(100vh - 80px);
    background: $dark-salad;

    h1{
        font-family: $font-bala;
        font-size: 3rem;
        padding-top: 4rem;
        color: $white;
    
        @include media-breakpoint-up(md){
          font-size: 4rem;
        }
    }

    form{
        flex-wrap: wrap;
        background: $white-transparent-0015;
        backdrop-filter: blur(30px);
        box-shadow: 0 5px 25px $black-transparent-03;
        border-radius: 15px;
        padding: 2rem;
    }
}