@use '../custom' as *;
@use '../components/typography' as *;
@use '../components/mixins' as *;

::-webkit-scrollbar {
    width: 0.85rem;
  }
  
::-webkit-scrollbar-thumb {
border-radius: 0.65rem;
background: $dark-salad;
transition: all 0.5s ease-in-out;
}

::-webkit-scrollbar-thumb:hover {
background: $almost-black;
}

::-webkit-scrollbar-track {
background: $ivory;
}

.favorites-slider{
    font-size: 0.8rem;
    color: $secondary;
    padding-top: 2.5rem;

    @include media-breakpoint-up(xxl){
        padding-top: 4.5rem;
    }

    .container {
        max-width: 80rem;
        padding: 0 0.85rem;
        margin: 0 auto;
    }

    .favorite-slider{
        height: 32.5rem;
        padding: 1.25rem 0;
        position: relative;

        @include media-breakpoint-down(sm){
            height: 28.125rem;
        }
    }

    .favorite-slide{
        width: 23.125rem;
        height: 26.25rem;
        position: relative;

        @include media-breakpoint-down(sm){
            width: 17.5rem;
            height: 22.5rem;
        }

        &-img img{
            width: 23.125rem;
            height: 26.25rem;
            border-radius: 1.25rem;
            object-fit: cover;

            @include media-breakpoint-down(sm){
                width: 17.5rem;
                height: 22.5rem;
            }
        }

        &-content{
            position: absolute;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;

            .favorite-btn{
                position: absolute;
                top: 1rem;
                left: 1.25rem;
                background-color: transparent;
                border: none;
                color: $white;
                font-size: 2rem;
                
            }

            .cook-time{
                position: absolute;
                top: 1.25rem;
                right: 1.25rem;
                color: $white;
                background: $white-transparent-01;
                backdrop-filter: blur(30px);
                box-shadow: 0 5px 25px $black-transparent-03;
                border-radius: 15px;
            }

            &-bottom{
                position: absolute;
                bottom: 1.25rem;
                left: 1.25rem;
                color: $white;
                margin-right: 1.25rem;


                .dish-name{
                    font-size: 1.2rem;
                    background: $black-transparent-05;
                    backdrop-filter: blur(30px);
                    box-shadow: 0 5px 25px $black-transparent-03;
                    border-radius: 15px;
                    padding: 0.2rem 0.8rem;

                    @include media-breakpoint-up(md){
                        font-size: 1.4rem;
                    }
                }

                .dish-rating{
                    font-size: 1rem;
                    display: flex;
                    gap: 0.625rem;
                    background: $white-transparent-02;
                    backdrop-filter: blur(30px);
                    box-shadow: 0 5px 25px $black-transparent-03;
                    border-radius: 15px;
                    padding: 0.2rem 0.4rem;
                    margin-top: 0.5rem;
                    margin-right: 5.5rem;

                    @include media-breakpoint-up(sm){
                        margin-right: 8.75rem;
                        font-size: 1.2rem;
                        padding: 0.2rem 0.8rem;
                    }
                    

                    .rating{
                        .star{
                            position: relative;
                        }
                    }
                }
            }
        }
    }
}

.swiper-slide-shadow-left,
.swiper-slide-shadow-right {
  display: none;
}

.favorite-slider-control {
    position: relative;
    bottom: 1.25rem;
    display: flex;
    align-items: center;
    justify-content: center;

    .swiper-button-next {
        left: 58% !important;
        transform: translateX(-58%) !important;

        @include media-breakpoint-down(lg){
            left: 70% !important;
            transform: translateX(-70%) !important;
        }

        @include media-breakpoint-down(s){
            left: 80% !important;
            transform: translateX(-80%) !important;
        }
    }

    .swiper-button-prev{
        @include media-breakpoint-down(lg){
            left: 30% !important;
            transform: translateX(-30%) !important;
        }

        @include media-breakpoint-down(s){
            left: 20% !important;
            transform: translateX(-20%) !important;
        }
    }

    .slider-arrow {
        background: $white;
        width: 2rem;
        height: 2rem;
        border-radius: 50%;
        left: 42%;
        transform: translateX(-42%);
        filter: drop-shadow(0px 8px 24px rgba(18, 28, 53, 0.1));

        ion-icon {
            font-size: 2rem;
            color: $almost-black;

            &:hover{
                color: $white;
                background: $primary;
                border-radius: 50%;
            }
        }

        &::after{
            content: '';
        }
    }

    .swiper-pagination {
        position: relative;
        width: 10rem;
        bottom: 0.625rem;

        .swiper-pagination-bullet {
            filter: drop-shadow(0px 8px 24px rgba(18, 28, 53, 0.1));
        
            &-active{
                background: $primary;
            }
        }
    }
  }