// Importing custom variables
@use '../custom' as *;
@use '../components/typography' as *;
@use '../components/mixins' as *;

.menus-slider {
  margin-top: 80px;
  min-height: calc(100vh - 80px);
  background: $white-transparent-08;

  .slider-container{
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-self: center;

    .slider{
      position: absolute;
      inset: 10px 40px 150px 40px;
      background: $secondary; 
      border-radius: 20px; 

      @include media-breakpoint-up(m){
        position: absolute;
        inset: 10px 80px 150px 40px;
      }

      @include media-breakpoint-up(lg){
        position: absolute;
        inset: 10px 200px 150px 80px;
      }
    
      .slides{
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 160px;
        height: 200px;
        background: var(--img);
        background-size: cover;
        background-position: center;
        transition: 0.5s;
        border-radius: 20px;
        box-shadow: 0 25px 50px $black-transparent-05;
        display: flex;
        justify-content: flex-start;
        align-items: flex-end;

        @include media-breakpoint-up(m){
          width: 200px;
          height: 260px;
        }

        @include media-breakpoint-up(lg){
          width: 240px;
          height: 320px;
        }

        &:nth-child(1), &:nth-child(2){
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          transform: translateY(0);
          box-shadow: 0 25px 50px $black-transparent-005;
          background-size: cover;

          .content{
            opacity: 1;
            transform: translateY(0px);
            transition-delay: 0.5s;
          }
        }

        &:nth-child(3){
          top: 25%;
          transform: none;
          left: calc(50% + 120px);
          background-size: cover;

          @include media-breakpoint-up(m){
            left: calc(50% + 180px);
          }

          @include media-breakpoint-up(lg){
            left: calc(50% + 240px);
          }
        }

        &:nth-child(4){
          top: 25%;
          transform: none;
          left: calc(50% + 360px);
          background-size: cover;

          @include media-breakpoint-up(lg){
            left: calc(50% + 500px);
          }
        }

        &:nth-child(5){
          top: 25%;
          transform: none;
          left: calc(50% + 760px);
          background-size: cover;
        }

        &:nth-child(6){
          top: 25%;
          transform: none;
          left: calc(50% + 1020px);
          background-size: cover;
          opacity: 0;
        }
        
        .content{
          position: relative;
          padding: 10px;
          max-width: 200px;
          transition: 0.25s;
          transition-delay: 0s;
          transform: translateY(40px);
          z-index: 100;
          opacity: 0;

          @include media-breakpoint-up(m){
            padding: 20px;
            max-width: 350px;
          }

          @include media-breakpoint-up(lg){
            padding: 40px;
            max-width: 600px;
          }

          h2{
            font-size: 1.5rem;
            color: $white;
            background: $black-transparent-05;
            backdrop-filter: blur(30px);
            box-shadow: 0 5px 25px $black-transparent-03;
            border-radius: 15px;
            padding: 0.2rem 0.8rem;

            @include media-breakpoint-up(m){
              font-size: 2.2rem;
            }

            @include media-breakpoint-up(lg){
              font-size: 3rem;
            }
          }

          p{
            font-size: 0.8rem;
            color: $white;
            background: $black-transparent-05;
            backdrop-filter: blur(30px);
            box-shadow: 0 5px 25px $black-transparent-03;
            border-radius: 15px;
            padding: 0.2rem 0.8rem;

            @include media-breakpoint-up(m){
              font-size: 1rem;
            }

            @include media-breakpoint-up(lg){
              font-size: 1.2rem;
            }
          }

          a{
            color: $secondary;

            &:hover{
              color: $white;
              text-shadow: 1px 1px 2px $white-transparent-01,
                          0 0 25px $white-transparent-01,
                          0 0 5px $secondary;
              transition: all 0.3s ease-in-out;
            }

            @include media-breakpoint-up(m){
              font-size: 1rem;
              padding: 0.5rem 1rem;
            }
          }
        }
      }
    }

    .buttons{
      position: absolute;
      bottom: 100px;
      display: flex;
      gap: 20px;

      span{
        position: relative;
        width: 40px;
        height: 40px;
        background: $secondary;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;

        &::before{
          content: '';
          position: absolute;
          width: 15px;
          height: 15px;
          border-top: 4px solid $white;
          border-left: 4px solid $white;
          transform: rotate(315deg) translate(2px, 2px);
        }

        &:nth-child(2)::before{
          transform: rotate(135deg) translate(2px, 2px);
        }

        &:active{
          opacity: 0.5;
        }
      }
    }
  }
}

.choose-menu{
  text-align: center;
  color: $secondary;
  font-size: 1rem;
  padding: 1rem 2rem;
  position: relative;
  top: -75px;

  @include media-breakpoint-up(md){
    font-size: 1.3rem;
  }
}

.menus-content {
  background: $light;
  position: relative;
  top: -100px;

  .menu-title{
    h1{
      font-family: $font-bala;
      font-size: 3rem;
      line-height: 3rem;
      color: $secondary;
      text-align: center;
      padding: 0 0 2rem 0;
      margin-top: 2rem;

      @include media-breakpoint-up(md){
        line-height: 4.5rem;
        font-size: 4rem;
      }
    }
  }
  
  span{
    font-size: 1rem;
    text-align: center;

    @include media-breakpoint-up(md){
      font-size: 1.25rem;
    }
    
  }
}

.week-cards{
  max-width: 95%;

  .day-of-week-card{
    width: 95%;
    margin-left: auto;
    height: 100%;
    border-radius: 20px;
    box-shadow: 0 25px 50px $black-transparent-05;
    display: flex;
    flex-direction: column;
    background: $ivory;

    .week-card-header{
      border-radius: 20px 20px 0 0;

      h2{
        font-size: 1.8rem;
        padding: 1.5rem; 
        text-align: center;
      }
    }

    .week-card-content{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 2rem 1.5rem 0rem;
      color: $secondary;
      flex-grow: 1;
      
      span{
        padding: 0;
        font-size: 0.9rem;
        color: $success;
      }

      a{
        text-align: center;
        font-size: 1rem;
        line-height: 1.5rem;
        text-decoration: none;
        color: $secondary;
        margin-bottom: 1rem;

        &:hover{
          color: $primary;
          background: rgba(255, 165, 0, 0.2);
          border-color: rgba(255, 165, 0, 0.4);
          box-shadow: 0 0 10px rgba(255, 165, 0, 0.6), 0 4px 20px $black-transparent-02;

        }
      }
    }

    .week-card-btn{
      i{
        margin-right: 0.5rem;
        font-size: 1.2rem;
      }
    }
  }
}