// Importing custom variables
@use '../custom' as *;
@use '../components/typography' as *;
@use '../components/mixins' as *;

.recipe-section {
    margin-top: 80px;
    min-height: calc(100vh - 80px);
    background: $white-transparent-08;

    .recipe-image{
        position: relative;
        margin: 0;
        padding: 0;

        @include media-breakpoint-up(md){
            margin-top: 0.5rem;
        }

        img {
            width: 100%;
            max-height: 80vh;
        }
    }

    .recipe-buttons{
        position: absolute;
        top: 80px;
        left: 0;

        .back-btn, .save-btn, .favorite-btn{
            background: $white-transparent-08;
            backdrop-filter: blur(30px);
            border: 1px solid $white-transparent-02;
            box-shadow: 0 8px 32px $black-transparent-02;
            color: $secondary;
            width: 2rem;
            height: 2rem;
            position: relative;
            margin: 1rem 0.5rem;

            i, #menu-add{
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                font-size: 1.2rem;
                line-height: 2rem;
            }

            &:hover{
                background: rgba(255, 165, 0, 0.2);
                border-color: rgba(255, 165, 0, 0.4);
                box-shadow: 0 0 10px rgba(255, 165, 0, 0.6), 0 4px 20px $black-transparent-02;
                color: $white;
            }

            @include media-breakpoint-up(md){
                width: 2.5rem;
                height: 2.5rem;
                
                i, #menu-add{
                    font-size: 1.5rem;
                    line-height: 2.5rem;
                }
            }
        }
    }

    .recipe-title{
        position: relative;
        top: -40px;
        left: 0;
        background: $black-transparent-05;
        backdrop-filter: blur(30px);
        box-shadow: 0 5px 25px $black-transparent-03;
        border-radius: 10px;
        padding: 0.2rem 0.5rem;
        width: 92%;
        margin: 0 0 1rem 1rem;
        
        @include media-breakpoint-up(md){
            top: -45px;
        }

        h2{
            color: $white;
            font-size: 1rem;
            text-align: start;
            line-height: 1.5rem;
            margin: 0;
            padding: 0.1rem 0 0.1rem 0.2rem;

            @include media-breakpoint-up(md){
                font-size: 1.2rem;
                line-height: 2rem;
            }
        }
        
        
    }

    .recipe-details{
        background: $white;
        

        .recipe-tags{
            padding: 0;
            position: relative;
            top: -40px;

            @include media-breakpoint-up(md){
                margin-left: 1rem;
            }

            .filtered-btn{
                padding: 0.2rem 0.3rem;
                font-size: 0.8rem;

                @include media-breakpoint-up(md){
                    padding: 0.2rem 0.6rem;
                    font-size: 1rem;
                }
            }
        }

        .recipe-data{
            font-weight: bold;
            color: $secondary;
            font-size: 0.8rem;
            position: relative;
            top: -25px;

            @include media-breakpoint-up(md){
                font-size: 1rem;
            }

            .controls {
                display: flex;
                align-items: center;
                gap: 0.6rem;
            
                .btn {
                  width: 1.5rem;
                  height: 1.5rem;
                  border-radius: 50%;
                  border: none;
                  background-color: $light;
                  color: $success;
                  font-size: 1rem;
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  cursor: pointer;
                  box-shadow: 0 0 4px $black-transparent-02;
                  transition: background-color 0.2s;

                    @include media-breakpoint-up(md){
                        width: 2rem;
                        height: 2rem;
                        font-size: 1.2rem;
                    }
            
                  &:hover {
                    background: rgba(255, 165, 0, 0.2);
                    border-color: rgba(255, 165, 0, 0.4);
                    box-shadow: 0 0 10px rgba(255, 165, 0, 0.6), 0 4px 20px $black-transparent-02;
                    color: $white;
                  }
                }
            
                .value {
                  font-size: 1rem;
                  min-width: 1rem;
                  text-align: center;

                    @include media-breakpoint-up(md){
                        font-size: 1.2rem;
                    }
                }
            }

            span{
                font-size: 1rem;

                @include media-breakpoint-up(md){
                    font-size: 1.2rem;
                }

                span{
                    font-weight: normal;
                    font-size: 0.8rem;

                    @include media-breakpoint-up(md){
                        font-size: 1rem;
                    }
                }
            }  
        }
    }

    .recipe-content{
        position: relative;
        top: -20px;

        .nav-item{
            width: 48%;

            button{
                border: 1px solid $black-transparent-03;
                box-shadow: 0 5px 25px $black-transparent-01;
                background: $white-transparent-08;
                color: $secondary;
                font-size: 0.9rem;
                border-radius: 15px;
                margin: 0.2rem 0.4rem;
                padding: 0.4rem 0.8rem;

                &.active{
                    background: $primary;
                    color: $white;
                    box-shadow: 0 5px 25px $black-transparent-02;
                }

                @include media-breakpoint-up(md){
                    width: 80%;
                    margin-left: auto;
                    margin-right: auto;
                    padding: 0.5rem 1rem;
                    font-size: 1rem;
                }

                img{
                    width: 1.5rem;
                    height: 1.5rem;
                    margin: 0 0.3rem 0 0;

                    @include media-breakpoint-up(md){
                        width: 2rem;
                        height: 2rem;
                        margin-right: 0.5rem;
                    }
                }
            }
        }

        .tab-content{

            .tab-pane{
                background: none;
            }

            .list-group-item{
                border-bottom: 1px solid $black-transparent-03;
                box-shadow: 0 5px 25px $black-transparent-01;
                border-radius: 10px;
                margin: 0.2rem 0;

                p{
                    margin-bottom: 0;
                    color: $secondary;
                }
            }

            .ingredient-notes{
                font-size: 0.8rem;
            }
        }
    }

    /* .recipe-header {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-evenly;
        
        .recipe-details{
            background: $white-transparent-0015;
            backdrop-filter: blur(30px);
            box-shadow: 0 5px 25px $black-transparent-03;
            border: 1px solid $white-transparent-02;
            border-radius: 30px;
            padding: 1.5rem;
            transition: transform 0.3s ease, box-shadow 0.3s ease;
            flex-wrap: wrap;
            justify-content: center;
            align-content: center;
            align-items: center;
            margin-top: 2rem;

            @include media-breakpoint-up(lg){
                margin-top: 0;
            }

            .back-btn, .save-btn, .favorite-btn{
                background: $white-transparent-08;
                backdrop-filter: blur(30px);
                border: 1px solid $white-transparent-02;
                box-shadow: 0 8px 32px $black-transparent-02;
                color: $secondary;
                width: 3rem;
                height: 3rem;
                position: relative;

                i, #menu-add{
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    font-size: 1.5rem;
                    line-height: 3rem;
                }

                &:hover{
                    background: rgba(255, 165, 0, 0.2);
                    border-color: rgba(255, 165, 0, 0.4);
                    box-shadow: 0 0 10px rgba(255, 165, 0, 0.6), 0 4px 20px rgba(0,0,0,0.2);
                    color: white;
                }
            }

            .recipe-data{
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: center;
                align-items: center;
                margin: 1rem 0;
                width: 100%;
                text-align: start;
                font-size: 1rem;

                .col-6{
                    display: flex;
                    flex-direction: row;
                    flex-wrap: wrap;
                    justify-content: center;
                    align-items: center;
                    background: $white-transparent-08;
                    backdrop-filter: blur(30px);
                    border: 1px solid $white-transparent-02;
                    box-shadow: 0 8px 32px $black-transparent-02;
                    color: $secondary;
                    border-radius: 30px;
                    margin-top: 0.5rem;
                    width: 48%;
                    padding: 0.2rem 0.5rem;

                    @include media-breakpoint-up(lg){
                        padding: 0.5rem 1rem;
                    }
                    

                    img{
                        width: 2.5rem;
                        height: 2.5rem;
                        margin: 0.5rem auto 0 0.5rem;

                        @include media-breakpoint-up(lg){
                            width: 3rem;
                            height: 3rem;
                        }
                    }

                    span{
                        font-weight: bold;
                        font-size: 1rem;
                        padding: 0.5rem 1.5rem 0 0;

                        @include media-breakpoint-up(lg){
                            font-size: 1.2rem;
                        }
                    }

                    p{
                        margin: 0.5rem 0 0.5rem;
                        font-size: 0.8rem;

                        @include media-breakpoint-up(lg){
                            font-size: 1rem;
                            margin: 1rem 0 0.5rem;
                        }
                    }
                }

                .col-12{
                    display: flex;
                    flex-direction: row;
                    flex-wrap: wrap;
                    justify-content: start;
                    align-items: center;
                    background: $white-transparent-08;
                    backdrop-filter: blur(30px);
                    border: 1px solid $white-transparent-02;
                    box-shadow: 0 8px 32px $black-transparent-02;
                    color: $secondary;
                    border-radius: 30px;
                    margin-top: 2rem;
                    width: 100%;
                    padding: 0.5rem 1rem;
                    font-size: 0.8rem;

                    @include media-breakpoint-up(lg){
                        font-size: 1rem;
                    }
                }
            }
        }

        .recipe-image{
            background: $white-transparent-0015;
            backdrop-filter: blur(30px);
            box-shadow: 0 5px 25px $black-transparent-03;
            border-radius: 30px;
            padding: 2rem 2rem 0 2rem;
            border: 1px solid $white-transparent-02;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-top: 2rem;

            @include media-breakpoint-up(lg){
                margin-top: 0;
            }
            

            img {
                width: 100%;
                border-radius: 30px;
            }

            h2{
                font-size: 1.2rem;
                color: $white;
                font-weight: bold;
                background: transparent;
                text-align: center;
                margin: 1.8rem 0 1rem 0;

                @include media-breakpoint-up(lg){
                    font-size: 1.5rem;
                    margin: 3rem 0 2rem 0;
                }
            }
        }
        
    }

    .recipe-content {
        background: $white-transparent-0015;
        backdrop-filter: blur(30px);
        box-shadow: 0 5px 25px $black-transparent-03;
        border-radius: 30px;
        margin: 1rem 2rem 2rem 2rem;
        border: 1px solid $white-transparent-02;
        padding: 2rem;
        width: 95%;

        @include media-breakpoint-up(lg){
            margin: 2rem;
        }
    } */
}


.tab-content {
    padding-top: 15px;
}
.tab-button.active {
    background-color: #ff6b6b;
    color: white;
}