{% extends 'base.html' %}

{% block title %}Recipes | The Nutri Cat{% endblock %}
{% block navbar %}
{% include '_components/_navbar.html' %}
{% endblock %}
{% block section %}
<!-- ////////////////////////////////////////////////////////////////////////////////////////
                               START THE SHOW RECIPE SECTION
/////////////////////////////////////////////////////////////////////////////////////////////-->
<section class="recipe-section">
    <div class="container-fluid d-flex flex-column align-items-center">
        <div class="row d-flex flex-column recipe-card">
            <div class="col recipe-image w-100">
                <img src="{{ recipe.quality_img_URL or recipe.compressed_img_URL }}" alt="{{ recipe.title }}" class="img-fluid">
            </div>
            <div class="col recipe-buttons d-flex justify-content-center align-items-center w-100">
                <div class="col-2 d-flex justify-content-start">
                    <a href="{{ url_for('recipes.recipes') }}" class="btn rounded-circle back-btn" aria-label="Back to recipes" data-bs-toggle="tooltip" data-bs-placement="bottom"
                    data-bs-custom-class="custom-tooltip" data-bs-title="Back to recipes">
                        <i class="bi bi-arrow-left"></i>
                    </a>
                </div>
                <div class="col-10 d-flex justify-content-end">
                {% if g.user %}
                    <a href="#" class="btn rounded-circle save-btn" data-recipe-id="{{ recipe.id }}" aria-label="Save recipe to the custom menu" data-bs-toggle="tooltip" data-bs-placement="bottom"
                    data-bs-custom-class="custom-tooltip" data-bs-title="Add to the custom menu">
                        <span id="menu-add" class="material-symbols-outlined">
                            library_add
                        </span>
                    </a>
                    <button class="btn rounded-circle favorite-btn" data-recipe-id="{{ recipe.id }}" aria-label="Add or remove from favorites">
                    {% if recipe.id in favorite_recipe_ids_set %}
                        <i class="bi bi-heart-fill heart-icon pt-1" name="heart" data-bs-toggle="tooltip" data-bs-placement="bottom"
                        data-bs-custom-class="custom-tooltip" data-bs-title="Remove from favorites"></i>
                    {% else %}
                        <i class="bi bi-heart heart-icon pt-1" name="heart-outline" data-bs-toggle="tooltip" data-bs-placement="bottom"
                        data-bs-custom-class="custom-tooltip" data-bs-title="Add to favorites"></i>
                    {% endif %} 
                    </button>
                {% endif %}
                </div>
            </div>
            <div class="col recipe-title">
                <h2>{{ recipe.title.capitalize() }}</h2>
            </div>
        </div>
        <div class="row recipe-details d-flex justify-content-center align-items-center w-100">
            <div class="col recipe-tags d-flex justify-content-start align-items-center">
                {% if recipe.tags %}
                    {% for tag in recipe.tags %}
                        <button class="btn btn-outline-secondary rounded-3 mx-1 filtered-btn" data-filter="{{ tag.name }}">{{ tag.name }}</button>
                    {% endfor %}
                {% endif %}
            </div>
            <div class="row-cols-3 d-flex justify-content-center recipe-data mt-4">
                <div class="col text-center">
                    <p>Servings</p>
                    <div class="controls d-flex justify-content-center w-100">
                        <button class="btn minus">−</button>
                        <span class="value">{{ recipe.servings }}</span>
                        <button class="btn plus">+</button>
                    </div>
                </div>
                <div class="col text-center">
                    <p>Preparation</p>
                    <span> {{ recipe.prep_time }} <span>mins</span> </span>
                </div>
                <div class="col text-center">
                    <p>Cooking</p>
                    <span> {{ recipe.cook_time }} <span>mins</span> </span>
                </div>
            </div>
        </div>
        <div class="row recipe-content mt-3">
            <div class="col w-100">
                <ul class="nav nav-pills d-flex justify-content-center align-items-center w-100 mx-0 mt-3" id="recipeTabs">
                    <li class="nav-item ">
                        <button class="nav-link active tab-button" data-bs-toggle="pill" data-bs-target="#ingredientsTab">
                            <img src="{{ url_for('static', filename='img/icons/salads.svg') }}" alt="Salad icon">
                            Ingredients
                        </button>
                    </li>
                    <li class="nav-item">
                        <button class="nav-link tab-button" data-bs-toggle="pill" data-bs-target="#instructionsTab">
                            <img src="{{ url_for('static', filename='img/icons/process.svg') }}" alt="Instructions icon">
                            Instructions
                        </button>
                    </li>
                </ul>
            </div>
            <div class="tab-content">
                <div class="tab-pane fade show active" id="ingredientsTab">
                    <ul class="list-group mt-3">
                        {% for ingredient in ingredients %}
                            <li class="list-group-item d-flex justify-content-between">
                                <div class="col d-flex flex-column">
                                    <p>{{ ingredient.name }}</p>
                                    {% if ingredient.ingredient_notes %}
                                        <span class="text-muted ingredient-notes">{{ ingredient.ingredient_notes }}</span>
                                    {% endif %}
                                </div>
                                {% if ingredient.quantity %}
                                    <span class="ingredient-quantity" data-original="{{ ingredient.quantity }}" data-unit="{{ ingredient.unit }}">{{ ingredient.quantity }}</span>
                                {% endif %}
                                {% if ingredient.quantity_notes %}
                                    <span>{{ ingredient.quantity_notes }}</span>
                                {% endif %}
                            </li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="tab-pane fade" id="instructionsTab">
                    <ol class="list-group list-group-numbered mx-5 mt-3">
                        {% for instruction in instructions %}
                            <li class="list-group-item">{{ instruction.instruction }}</li>
                        {% endfor %}
                    </ol>
                </div>
            </div>
        </div>
            


    </div>
   <!--  <div class="container-fluid d-flex flex-column align-items-center g-5">
        
        <div class="row recipe-header mt-md-5 w-100">
            <div class="col-lg-4 d-flex flex-column align-items-center h-100 order-2 order-md-1 recipe-details">
                <div class="row d-flex justify-content-between align-items-center my-2 buttons">
                    <div class="col">
                        <a href="{{ url_for('recipes.recipes') }}" class="btn rounded-circle back-btn" aria-label="Back to recipes" data-bs-toggle="tooltip" data-bs-placement="bottom"
                        data-bs-custom-class="custom-tooltip" data-bs-title="Back to recipes">
                            <i class="bi bi-arrow-left"></i>
                        </a>
                    </div>
                    <div class="col">
                    {% if g.user %}
                        <a href="#" class="btn rounded-circle save-btn" data-recipe-id="{{ recipe.id }}" aria-label="Save recipe to the custom menu" data-bs-toggle="tooltip" data-bs-placement="bottom"
                        data-bs-custom-class="custom-tooltip" data-bs-title="Add to the custom menu">
                            <span id="menu-add" class="material-symbols-outlined">
                                library_add
                            </span>
                        </a>
                    </div>
                    <div class="col">
                
                        <button class="btn rounded-circle favorite-btn" data-recipe-id="{{ recipe.id }}" aria-label="Add or remove from favorites">
                        {% if recipe.id in favorite_recipe_ids_set %}
                            <i class="bi bi-heart-fill heart-icon" name="heart" data-bs-toggle="tooltip" data-bs-placement="bottom"
                            data-bs-custom-class="custom-tooltip" data-bs-title="Remove from favorites"></i>
                        {% else %}
                            <i class="bi bi-heart heart-icon" name="heart-outline" data-bs-toggle="tooltip" data-bs-placement="bottom"
                            data-bs-custom-class="custom-tooltip" data-bs-title="Add to favorites"></i>
                        {% endif %} 
                        </button>
                    {% endif %}
                    </div>
                </div>
            
                <div class="row-cols-2 d-flex justify-content-between recipe-data">
                    <div class="col-6">   
                        <img src="{{ url_for('static', filename='img/icons/time.svg') }}" alt="Time icon">
                        <span> {{ recipe.prep_time }} </span>
                        <p>Preparation time</p>
                    </div>
                    <div class="col-6">
                        <img src="{{ url_for('static', filename='img/icons/pot.svg') }}" alt="Time icon">
                        <span> {{ recipe.cook_time }} </span>
                        <p>Cooking time</p>
                    </div>
                    <div class="col-12">
                        <p>Servings <span class="text-muted">(adjust to change)</span></p>
                        <input type="number" class="form-control" id="servings" name="servings" value="{{ recipe.servings }}" min="1" max="5" step="1" aria-label="Number of servings">
                    </div>
                    <div class="recipe-tags d-flex justify-content-start align-items-center">
                        {% if recipe.tags %}
                            {% for tag in recipe.tags %}
                                <button class="btn btn-outline-secondary rounded-3 mx-1 mt-3 filter-btn" data-filter="{{ tag.name }}">{{ tag.name }}</button>
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="col-lg-7 h-100 order-1 order-md-2 recipe-image">
                <img src="{{ recipe.quality_img_URL or recipe.compressed_img_URL }}" alt="{{ recipe.title }}" class="img-fluid">
                <h2>{{ recipe.title.capitalize() }}</h2>
            </div>
        </div>
    

        <div class="row recipe-content">
        
            <ul class="nav nav-pills mt-3" id="recipeTabs">
                <li class="nav-item">
                    <button class="nav-link active tab-button" data-bs-toggle="pill" data-bs-target="#ingredientsTab">Ingredients</button>
                </li>
                <li class="nav-item">
                    <button class="nav-link tab-button" data-bs-toggle="pill" data-bs-target="#instructionsTab">Instructions</button>
                </li>
                <li class="nav-item">
                    <button class="nav-link tab-button" data-bs-toggle="pill" data-bs-target="#instructionsTab">Notes</button>
                </li>
            </ul>

            <div class="tab-content">
                <div class="tab-pane fade show active" id="ingredientsTab">
                    <ul class="list-group mt-3">
                        {% for ingredient in ingredients %}
                            <li class="list-group-item d-flex justify-content-between">
                                <span>{{ ingredient.name }}</span>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
    
                <div class="tab-pane fade" id="instructionsTab">
                    <ol class="list-group list-group-numbered mt-3">
                        {% for instruction in instructions %}
                            <li class="list-group-item">{{ instruction.instruction }}</li>
                        {% endfor %}
                    </ol>
                </div>
            </div>
        </div>
    </div> -->
</section>
{% endblock %}

{% block footer %}
{% include '_components/_footer.html' %}
{% endblock %}